@charset "utf-8";

community {
  position: absolute;
  width: 100%;
  display: block;
  /* height: 544px; */
  padding: 70px 0;
  background: #f3f6fa;
  top: 217%;
}

community .festival {
  background: #1b52a1;
  margin: 0 59.2px;
  width: 24%;
  height: 544px;
  padding: 30px 40px;
  color: #fff;
}

community .festival .titie > div {
  display: inline-block;
  color: #b3e7ff;
  text-transform: uppercase;
}
community .festival .titie h2 {
  position: absolute;
  display: inline-block;
  font-size: 25px;
}
community .festival .image {
  margin: 15px 10px;
}
community .festival .contents li .on a {
  border-color: #fff;
}
community .festival .contents li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
community .festival ul {
  list-style: none;
}
community .festival .contents li > a {
  display: block;
  padding: 6px 20px;
  border: 3px solid transparent;
  color: #fff;
}

community .apply .incentiveApply {
  position: absolute;
  top: 66px;
  left: 486px;
}

community .apply .incentiveApply > p {
  display: block;
  font-size: 27px;
}

community .apply .incentiveApply > h2 {
  font-size: 27px;
}

community .apply .incentiveApply > span {
  position: absolute;
  color: #636465;
}

community .apply .incentiveApply > img {
  position: relative;
  left: 112px;
}

community .apply .incentiveApply div {
  width: 336px;
  height: 60px;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #fff;
}

community .apply .incentiveApply > div > p {
  position: relative;
  left: 19px;
  top: 25%;
}

community .apply .incentiveApply > div > i {
  position: absolute;
  float: right;
  right: 120px;
}

community .apply .incentiveApply > div:hover {
  color: #1b52a1;
  border-color: #1b52a1;
  font-weight: 700;
}

community .apply .incentiveApply > div:hover i {
  right: 110px;
  transition: right 0.5s ease;
  opacity: 1;
  display: block;
}

community .apply .fourApply .pomphlet {
  position: absolute;
  top: 10%;
  left: 57%;
  width: 250px;
  height: 250px;
}
community .apply .fourApply .pomphlet > h2 {
  font-size: 23px;
}

community .apply .fourApply .pomphlet .short-cut {
  width: 116px;
  height: 34px;
  position: relative;
  display: block;
  padding: 5px 45px 5px 20px;
  background: #cfd1d5;
  border-radius: 20px;
  color: #fff;
  z-index: 99999999;
}
