@charset "utf-8";

community {
  position: absolute;
  width: 100%;
  display: block;
  /* height: 544px; */
  padding: 70px 0;
  background: #f3f6fa;
  top: 217%;
}

community .festival {
  background: #1b52a1;
  margin: 0 59.2px;
  width: 24%;
  height: 544px;
  padding: 30px 40px;
  color: #fff;
}

community .festival .titie > div {
  display: inline-block;
  color: #b3e7ff;
  text-transform: uppercase;
  margin-top: 4px;
  line-height: 1.1;
}
community .festival .titie span {
  position: absolute;
  display: inline-block;
  font-size: 27px;
}
community .festival .image {
  margin: 15px 10px;
}

community .festival .contents li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
community .festival ul {
  list-style: none;
}

community .festival .contents li > a {
  display: block;
  padding: 6px 20px;
  border: 3px solid transparent;
  color: #fff;
  text-align: left;
}

community .festival .contents > li .border {
  border-color: #fff;
}

community .apply .incentiveApply {
  position: absolute;
  width: 24%;
  top: 66px;
  left: 469px;
  padding-top: 36px;
}

community .apply .incentiveApply > p {
  display: block;
  font-size: 27px;
}

community .apply .incentiveApply > h2 {
  font-size: 27px;
  margin-top: -9px;
}

community .apply .incentiveApply > span {
  position: absolute;
  color: #636465;
  margin-top: 9px;
}

community .apply .incentiveApply > img {
  position: relative;
  left: 112px;
  margin-top: 15px;
  margin-left: 18px;
}

community .apply .incentiveApply div {
  width: 336px;
  height: 60px;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #fff;
}

community .apply .incentiveApply > div > p {
  position: relative;
  left: 19px;
  top: 25%;
  display: none;
}

community .apply .incentiveApply > div > i {
  position: absolute;
  float: right;
  right: 120px;
}

community .apply .incentiveApply > div:hover {
  color: #1b52a1;
  border-color: #1b52a1;
  font-weight: 700;
}

community .apply .incentiveApply > div:hover i {
  right: 110px;
  transition: right 0.5s ease;
  opacity: 1;
  display: block;
}

community .apply .fourApply {
  position: absolute;
  width: 47%;
  float: left;
  top: 54px;
  right: -30px;
}

community .apply .fourApply div {
  position: relative;
  width: 322px;
  height: 250px;
  padding: 25px;
  float: left;
  border-left: 1px solid #e2e5e8;
  border-top: 1px solid #e2e5e8;
  margin: -1px 0 0 -1px;
}

community .apply .fourApply div::after {
  position: absolute;
  content: "";
  background: url("../images/community/community_cars_people.png") no-repeat 0 0/200%
    auto;
  right: 0;
  bottom: 0;
  width: 140px;
  height: 140px;
}

community .apply .fourApply .pomphlet > h2 {
  font-size: 23px;
  padding-top: 12px;
}

community .apply .fourApply .pomphlet > p {
  font-size: 14px;
  color: #666;
  margin: 10px 0 30px;
  white-space: nowrap;
}

community .apply .fourApply .pomphlet .short-cut {
  width: 116px;
  height: 34px;
  position: relative;
  display: block;
  padding: 5px 31px 5px 20px;
  background: #cfd1d5;
  border-radius: 20px;
  color: #fff;
  z-index: 99999999;
}

community .apply .fourApply .pomphlet .short-cut::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 9px;
  background: url("../images/community/community_next.png") no-repeat 0 100%/100%
    auto;
  width: 16px;
  height: 12px;
}

community .apply .fourApply .taxi::after {
  background-position: 100% 0;
}

community .apply .fourApply .taxi > h2 {
  font-size: 23px;
  font-weight: 600;
  color: #444;
  padding-top: 12px;
}

community .apply .fourApply .taxi > p {
  font-size: 14px;
  white-space: nowrap;
  color: #666;
  margin: 10px 0 30px;
}

community .apply .fourApply .taxi .short-cut {
  width: 116px;
  height: 34px;
  position: relative;
  display: block;
  padding: 5px 31px 5px 20px;
  background: #cfd1d5;
  border-radius: 20px;
  color: #fff;
  z-index: 99999999;
}

community .apply .fourApply .taxi .short-cut::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 9px;
  background: url("../images/community/community_next.png") no-repeat 0 100%/100%
    auto;
  width: 16px;
  height: 12px;
}

community .apply .fourApply .cityTour > h2 {
  font-size: 23px;
}

community .apply .fourApply .cityTour > p {
  font-size: 14px;
  white-space: nowrap;
  color: #666;
  margin: 10px 0 30px;
}

community .apply .fourApply .cityTour .short-cut {
  width: 116px;
  height: 34px;
  position: relative;
  display: block;
  padding: 5px 31px 5px 20px;
  background: #cfd1d5;
  border-radius: 20px;
  color: #fff;
  z-index: 99999999;
}

community .apply .fourApply .cityTour .short-cut::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 9px;
  background: url("../images/community/community_next.png") no-repeat 0 100%/100%
    auto;
  width: 16px;
  height: 12px;
}

community .apply .fourApply .cityTour::after {
  background-position: 0 100%;
}

community .apply .fourApply .commentator > h2 {
  font-size: 23px;
}

community .apply .fourApply .commentator > p {
  font-size: 15px;
  color: #666;
  margin: 10px 0 30px;
}

community .apply .fourApply .commentator .short-cut {
  width: 116px;
  height: 34px;
  position: relative;
  display: block;
  padding: 5px 31px 5px 20px;
  background: #cfd1d5;
  border-radius: 20px;
  color: #fff;
  z-index: 99999999;
}

community .apply .fourApply .commentator .short-cut::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 9px;
  background: url("../images/community/community_next.png") no-repeat 0 100%/100%
    auto;
  width: 16px;
  height: 12px;
}

community .apply .fourApply .commentator::after {
  background-position: 100% 100%;
}
