@charset "utf-8";

header {
  position: relative;
  padding: 0 40px 0 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellowgreen;
}

.logo {
  background-color: #1b52a2;
  width: auto;
  padding: 30px 30px;
  border-radius: 0 0 20px 0;
  position: relative;
  z-index: 9;
}

.mainMenu {
  display: flex;
  position: relative;
  justify-content: space-around;
  min-width: 1060px;
}
/* .mainMunu > li:nth-child(-n + 6) {
  margin-right: -50px;
} */
.mainMenu > li > a {
  color: #000;
}

.side-header {
  position: relative;
  display: flex;  
  justify-content: space-around;
  min-width: 306px;
}

/* visual .first_pic {
  width: 100%;
  display: inline-block;
  position: absolute;
  z-index: 98999;
  background: url("/images/visual/visual_first_bg.jpg");
}
visual .shadow_pic {
  display: inline-block;
  position: relative;
  left: 50%;
}
visual > div .search-screen {
  width: 400px;
  border-radius: 50%;
  background-color: #ffff;
  position: relative;
} */
