@charset "utf-8";

hotspot {
  position: absolute;
  width: 100%;
  height: 339px;
  margin: 130px 0 100px;
  display: inline-block;
  bottom: -866px;
  /* background: #000; */
  /* z-index: 999; */
}

hotspot .slider .slider-pics {
  height: 339px;
  position: absolute;
  top: 0;
  /* left: 0; */
  /* background: red; */
  width: 70%;
}

hotspot .slider-pics .first_pic_slide > img {
  position: absolute;
  /* left: 0; */
  width: 475px;
  height: 339px;
  float: right;
}

hotspot .slickBtns {
  position: relative;
  right: 50%;
}

hotspot .prevBtn {
  position: relative;
  top: 47%;
  background-color: bisque;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

hotspot .nextBtn {
  position: absolute;
  left: 60%;
  top: 48%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: bisque;
}

hotspot .slider-pics .second_pic_slide > img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 475px;
  height: 339px;
  float: right;
}

hotspot .slider-pics .third_pic_slide > img {
  position: absolute;
  top: 0;
  right: -41%;
  /* right: -454px; */
  float: right;
}

hotspot .slick-track {
  height: 339px;
}
