@charset "utf-8";

hotspot {
  position: absolute;
  width: 100%;
  height: 339px;
  margin: 130px 0 100px;
  display: block;
  bottom: -866px;
  z-index: 999;
  /* background-color: aquamarine; */
}

hotspot .info {
  position: absolute;
  margin-top: 0;
  margin-left: 70px;
  width: 21%;
  height: 100%;
  /* background-color: blue; */
  display: inline-block;
}

hotspot .info::before {
  content: "";
  background: url("../images/hotspot/hotspot_heart.png") no-repeat;
  width: 90px;
  height: 110px;
  position: absolute;
  top: -64px;
  left: 158px;
}

hotspot .info p {
  font-size: 40px;
}
hotspot .info h2 {
  font-size: 50px;
  margin-top: 31px;
}

hotspot .info .hashTag {
  font-size: 22px;
  position: relative;
  margin-top: 44px;
  background: #fff;
}

hotspot .info .hashTag strong {
  color: #009dd0;
  font-weight: 700;
}
hotspot .info .place {
  position: absolute;
  top: 165px;
  left: 14px;
}
hotspot .info .place::before {
  content: "";
  background: url("../images/hotspot/hotspot_picker.png") no-repeat;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -19px;
}

hotspot .info .history {
  display: -webkit-box;
  position: absolute;
  top: 212px;
  width: 322px;
  height: 100px;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

hotspot .slidesShow {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 72%;
  height: 339px;
  /* background: #009dd0; */
}

/* hotspot .slides .btns {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009dd0;
  z-index: 99;
} */

hotspot .slidesShow .slides .btns .left {
  position: absolute;
  top: 50%;
  left: 34px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009dd0;
  z-index: 99;
}

hotspot .slidesShow .slides .btns .left::before {
  content: "";
  background: url("../images/hotspot/hotspot_pre_stop_next.png") no-repeat 0 0/400%
    auto;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: 0 100%;
  z-index: 99;
}

hotspot .slidesShow .slides .btns .right {
  position: absolute;
  top: 50%;
  left: calc(533px - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009dd0;
  z-index: 99;
}

hotspot .slides .btns .right::before {
  content: "";
  background: url("../images/hotspot/hotspot_pre_stop_next.png") no-repeat 0 0/400%
    auto;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  background-position: 0 100%;
  z-index: 99;
}

hotspot .slides .first_pic {
  background: url("../images/hotspot/hotspot_first_pic.jpg") no-repeat center;
  width: 475px;
  height: 339px;
  object-fit: cover;
  position: absolute;
  margin-left: 58px;
}

hotspot .slides .first_pic::before {
  content: "자세히보기";
  background: rgba(0, 0, 0, 0.5) url("../images/hotspot/hotspot_d.png")
    no-repeat center 30px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 75px;
  z-index: 99;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

hotspot .slides .second_pic {
  float: right;
  width: 475px;
  height: 339px;
  background: url("../images/hotspot/hotspot_second_pic.jpg") no-repeat center;
  object-fit: cover;
  margin-right: 32px;
}

hotspot .slides .second_pic a {
  background: #fff;
  width: 250px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 32px;
}

hotspot .slides .second_pic a b {
  position: absolute;
  top: 37%;
  left: 22px;
  white-space: nowrap;
}

hotspot .slides .second_pic a:after {
  position: absolute;
  top: 50%;
  right: 20%;
  content: "";
  background: url("../images/hotspot/hotspot_side_next.png") no-repeat center;
  width: 20px;
  height: 20px;
  z-index: 99;
}
