@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

body {
  min-width: 515px;
  font-family: "Pretendard", "맑은 고딕", sans-serif;
}

h2 {
  font-family: "MICEGothic Bold", "Pretendard", "맑은 고딕", sans-serif;
}
