@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  text-align: center;
}
img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif, "Pretendard-Regular";
}

body {
  min-width: 515px;
  /* max-width: 1490px; */
}
