@charset "utf-8";

.dim {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);
}

.sideMenu {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 100%;
  background: #fff;
  float: right;
  animation: fadeLeft 0.85s ease forwards;
}

.sideMenu .sideTop {
  display: flex;
  color: #fff;
  background: #1b52a1;
}

.sideMenu .sideTop .cityHall::after {
  width: 1px;
  height: 10px;
  content: "";
  position: absolute;
  background: #ddd;
  top: 3%;
  transform: translateX(17px);
}

.sideMenu .sideTop > div {
  display: inline-block;
  padding: 17.1px 19px;
}

.sideMenu .sideTop .closeX > i {
  position: absolute;
  top: 20px;
  right: 10px;
}

.sideMenu .sideBody > li > a {
  display: block;
  padding: 9.5px 19px;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #dde7d5;
}

.sideMenu .sideBody > li > a:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > a:hover {
  color: #000;
  font-weight: 700;
}

.sideMenu .sideBody > li > a:hover::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > ul {
  height: 0;
  overflow: hidden;
  /* transition: height 0.85s ease forwards; */
}

.sideMenu .sideBody > li > ul.show {
  height: auto;
}

.sideMenu .sideBody > li > ul.show li a {
  display: block;
  padding: 10px 20px 10px 50px;
  background: #f5f5f5;
  position: relative;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #dde7d5;
}

.sideMenu
  .sideBody
  > li
  > .firstList.show
  li:nth-of-type(n + 2):nth-of-type(-n + 5)
  > a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > .secondList.show li:nth-of-type(1) > a::after,
.sideMenu .sideBody > li > .secondList.show li:nth-of-type(2) > a::after,
.sideMenu .sideBody > li > .secondList.show li:nth-of-type(4) > a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > .thirdList.show li:nth-of-type(-n + 7) > a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > .fourList.show li a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > .fiveList.show li:nth-of-type(2) > a::after,
.sideMenu .sideBody > li > .fiveList.show li:nth-of-type(3) > a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > ul.show li a:hover {
  color: #000;
  font-weight: 700;
}

.sideMenu .sideBody > li > ul.show li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 35px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #bbc6b2;
}

.sideMenu .sideBody > li > ul.show li a:hover::before {
  background: #000;
}

.sideMenu .sideBody > li > ul.show li a:hover::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 9px;
  right: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}

.sideMenu .sideBody > li > ul.show li > ul {
  height: 0;
  overflow: hidden;
  /* transition: height 0.85s ease forwards; */
}

.sideMenu .sideBody > li > ul.show li > ul.show {
  height: auto;
  padding: 9.5px 0;
}

.sideMenu .sideBody > li > ul.show li > ul.show li a {
  background: #fff;
  border: none;
  color: #333;
  padding: 5px 23px 5px 50px;
}

.sideMenu .sideBody > li > ul.show li > ul.show li a:hover {
  text-decoration: underline;
  font-weight: 300;
}

.sideMenu .sideBody > li > ul.show li > ul.show li a::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  background: #c7c7c7;
  border-radius: 40px;
}

.sideMenu .sideBody > li > ul.show li > ul.show li a::after {
  content: "";
  display: none;
}

@keyframes fadeLeft {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0);
  }
}
