@charset "utf-8";

/* animation적용 작동안됨 */
@keyframes fadeInLeft {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

/*  반영안됨 */
/* @media screen and (min-width: 1201px) and (max-width: 1536px) {
  .sideMenu {
    display: none;
  }
} */

/*반영됨  */
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.dim {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);
}
.sideMenu {
  position: relative;
  height: 100%;
  background: #fff;
  float: right;
}
.sideMenu .sideTop {
  display: flex;
  color: #fff;
  background: #1b52a1;
}

.sideMenu .sideTop .cityHall::after {
  width: 1px;
  height: 10px;
  content: "";
  position: absolute;
  background: #ddd;
  top: 3%;
  transform: translateX(17px);
}

.sideMenu .sideTop > div {
  display: inline-block;
  padding: 17.1px 19px;
}

.sideMenu .sideTop .closeX > i {
  position: absolute;
  top: 20px;
  right: 10px;
}

.sideMenu .sideBody > li > a {
  display: block;
  padding: 9.5px 19px;
  border-bottom: #ccc 1px solid;
  text-align: left;
}

.sideMenu .sideBody > li > ul > li {
  display: none;
  position: relative;
  padding: 10px 20px 10px 50px;
  background: #f5f5f5;
  border-top: #ccc 1px solid;
}

.sideMenu .sideBody > li > ul > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 35px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #bbc6b2;
}
