@charset "utf-8";

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .dim {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.7);
  }
  .sideMenu {
    position: relative;
    /* width: 100%; */
    height: 100%;
    background: #fff;
    float: right;
  }
  .sideMenu .sideTop {
    display: flex;
    color: #fff;
    background: #1b52a1;
  }

  .sideMenu .sideTop .cityHall::after {
    width: 1px;
    height: 10px;
    content: "";
    position: absolute;
    background: #ddd;
    top: 3%;
    transform: translateX(17px);
  }

  .sideMenu .sideTop > div {
    display: inline-block;
    padding: 17.1px 19px;
  }

  .sideMenu .sideTop .closeX > i {
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .sideMenu .sideBody > div {
    padding: 9.5px 19px;
    border-bottom: #ccc 1px solid;
  }

