@charset "utf-8";

visual {
  position: absolute;
  width: 100%;
  height: 935px;
}

visual .pics .first_pic {
  background: url("../images/visual/visual_first_bg.jpg") no-repeat center/cover;
  /* background-size: 5000px auto; */
  display: inline-block;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

visual .shadow_pic {
  max-width: 1000px;
  max-height: 760px;
  background: url("/images/visual/visual_bg.png") no-repeat center/cover;
  display: inline-block;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  transform: translate(28%, 6%);
}

.first-text {
  font-family: "MICEGothic", "Pretendard", "맑은 고딕", sans-serif;
  position: absolute;
  top: 29%;
  left: 37%;
  line-height: 1;
  font-size: 60px;
  color: #fff;
  z-index: 999;
}
.first-strong {
  font-size: 75px;
}

.second-strong {
  font-size: 75px;
}

.third-strong {
  font-size: 75px;
}

.italic {
  font-style: italic;
}

.second-text {
  font-family: "MICEGothic", "Pretendard", "맑은 고딕", sans-serif;
  position: absolute;
  font-size: 25px;
  z-index: 999;
  top: 49%;
  left: 35%;
  color: #fff;
}

visual .search_screen > input {
  width: 400px !important;
  height: 60px;
  background-color: #ffff;
  position: relative;
  z-index: 99;
  top: 517px;
  left: 563px;
  border-radius: 30px;
  padding: 0 35px;
}

visual .search_screen .y_search {
  position: absolute;
  background: url("../images/header/header_d.png") no-repeat center;
  width: 100%;
  z-index: 999;
}
.control {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  width: 390px;
  height: 50px;

  /* width: 25px; */
  /* height: 25px; */
  border-radius: 0 20px 0 0;
  padding: 10px 30px;
}
.control .prev {
  background: url("../images/visual/visual_pre_stop_next.png") no-repeat 0 0/400%
    auto;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 31%;
  left: 10%;
}
.control .stop {
  background: url("../images/visual/visual_pre_stop_next.png") no-repeat 0 0/400%
    auto;
  background-position: 33.33% 0;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 31%;
  left: 24%;
  /* display: none; */
}
.control .play {
  background: url("../images/visual/visual_pre_stop_next.png") no-repeat 0 0/400%
    auto;
  background-position: 66.66% 0;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 31%;
  left: 24%;
  display: none;
}
.control .next {
  background: url("../images/visual/visual_pre_stop_next.png") no-repeat 0 0/400%
    auto;
  position: absolute;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  top: 31%;
  left: 38%;
}
.cyberTour {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0;
  width: 230px;
  height: 250px;
  object-fit: contain;
  background: url("../images/visual/visual_man.png") no-repeat;
}

.speechBubble {
  position: absolute;
  z-index: 99;
  right: 127px;
  bottom: 127px;
  width: 230px;
  height: 250px;
  object-fit: contain;
  background: url("../images/visual/visual_speech_bubble.png");
}

.speechBubble .title {
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  top: 48px;
  left: 56px;
  color: #fff;
}

.speechBubble .content {
  position: absolute;
  color: #fff;
  font-weight: 500;
  top: 91px;
  left: 17px;
}
