@charset "utf-8";

visual {
  position: absolute;
  width: 100%;
  height: 935px;
}

visual .pics .first_pic {
  background-image: url("/images/visual/visual_first_bg.jpg");
  display: inline-block;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}

visual .shadow_pic > img {
  background: url("/images/visual/visual_bg.png") no-repeat center/cover;
  display: inline-block;
  position: absolute;
  left: 16px;
  z-index: 111;
}

.first-text {
  position: absolute;
  top: 50%;
  left: 32%;
  font-size: 60px;
  color: #fff;
}
.first-strong {
  font-size: 75px;
}

.second-strong {
  font-size: 75px;
}

.third-strong {
  font-size: 75px;
}

.italic {
  font-style: italic;
}

.second-text {
  position: relative;
  font-size: 25px;
}

visual > div .search-screen {
  width: 400px;
  border-radius: 50%;
  background-color: #ffff;
  position: relative;
}
